*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: #fff;

}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: auto;
    width: auto;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #bfbbae;
    text-decoration: none;

}

.header .nav-links li a:hover{
    color: #eb2227;
}

.header .languages .btn button:hover{
    transform: scale(1.1)
}

.header .languages .btn button{
    font-weight: 700;
    color: #fff;
    padding: 9px 25px;
    background: #bfbbae;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

